/*GLOBALS*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #222;
	background: #222;
}

main {
    padding: 0;
    margin: 0;
    border-bottom: 10px dashed teal;
}

a,
a:visited {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

a[href^='#top'] {
	color: white;
}

/*SHARED CSS*/
.email,
.project a {
	display: inline-block;
	padding: 10px;
	margin-bottom: 5vh;
	border-radius: 10px;
	background-color: orange;
	color: white;
	font-weight: bold;
}

/*HEADER*/
.header {
	z-index: 1;
	position: fixed;
    width: 100%;
	background-color: #131313;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.header .logo {
	display: inline-block;
	text-transform: uppercase;	
	padding: 10px 30px;
	margin-left: auto;
	margin-right: auto;
    border-left: 5px dashed teal;
    border-right: 5px dashed teal;
    transition: border .2s;
}

.header .logo a {
	color: white;
	transition: color .1s;
}

.header .logo a:hover {
	color: teal;
}

.header .logo:hover {
	border: 0;
    border-left: 5px solid orange;
    border-right: 5px solid orange;
}

.nav-item:active {
	color: grey;
	border-color: black;
}


/*PROFILE*/
.profile {
	position: relative;
	padding-top: 140px;
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
}

.overlay {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background-color: rgba(0, 128, 128, 0.6);
}

.intro {
	position: relative;
}

.photo {
	width: 200px;
	border-radius: 100%;
	border: 5px solid white;
}

.profile h1 {
	color: white;
}

.profile h2 {
	color: white;
}

.email {
	font-size: 20px;
}

/*PROJECTS*/
.gallery {
	padding: 20px 30px;
	border-bottom: ;
}

.title {
	color: white;
	margin: 50px 0;
}

.project {
	margin-bottom: 30px;
}

.project a {
	opacity: .7;
}

.project a:hover {
	opacity: 1;
	background-color: teal;
}

.frame {
	width: 100%;
}

.frame img {
	display: block;
	width: 100%;
}

.folder {
	background-color: teal;
	text-align: left;
	margin: 10px 0;
}

.project-name,
.caption {
	color: white;
	padding: 5px 10px;
}

/*SOCIAL LINKS*/

a.social {
	display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: 1;
    transition: all .5s;
}
a.resume {
	background-image: url("../images/icons/cv.png");
}

a.linkedin {
	background-image: url("../images/icons/linkedin.svg");
}

a.github {
	background-image: url("../images/icons/github.svg");
}



/*CLEARFIX HACK*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}