/*GLOBALS*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #222;
	background: #222;
}

main {
    padding: 0;
    margin: 0;
    border-bottom: 10px dashed #1282A2;
}

a,
a:visited {
	text-decoration: none;
}

ul {
	margin-top: 40px;
	list-style: none;
	padding-left: 0;
}

.btt {
	color: #FEFCFB;
	margin-bottom: 30px;
}

.intro span,
.foot span {
	display: inline-block;
	color: #FEFCFB;
	font-size: 10px;
	padding-bottom: 12px; 
}

/*SHARED CSS*/
.email,
.project a {
	padding: 10px;
	margin-bottom: 1vh;
	border-radius: 10px;
	color: #FEFCFB;
	font-weight: bold;
}

/*HEADER*/
.header {
	z-index: 1;
	position: fixed;
    width: 100%;
    height: 78px;
	background-color: #222;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.header .logo {
	display: inline-block;
	text-transform: uppercase;	
	padding: 10px 30px;
	margin-left: auto;
	margin-right: auto;
    border-left: 5px dashed #1282A2;
    border-right: 5px dashed #1282A2;
    transition: border .2s;
}

.header .logo a {
	color: #FEFCFB;
	transition: color .1s;
}

.header .logo a:hover {
	color: #1282A2;
}

.header .logo:hover {
	border: 0;
    border-left: 5px solid #FFAD17;
    border-right: 5px solid #FFAD17;
}

.nav-item:active {
	color: grey;
	border-color: #222;
}


/*PROFILE*/
.profile {
	position: relative;
	height: 100vh;
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
}

.profile > a {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -17.5px;
    color: #FEFCFB;
}

.profile > a i {
	font-size: 40px;
	transition: color .5s;
}

.profile > a i:hover {
	color: #FFAD17;
}

.overlay {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background-color: rgba(0, 128, 128, 0.6);
}

.intro {
	position: relative;
	padding-top: 18vh;
}

.photo {
	width: 200px;
	border-radius: 100%;
	border: 5px solid #FEFCFB;
}

.profile h1 {
	color: #FEFCFB;
}

.profile h2 {
	color: #FEFCFB;
}

.intro .email {
	display: block;
    width: 215px;
    margin: 0 auto;
	font-size: 20px;
	background-color: #FFAD17;
}

/*PROJECTS*/
.gallery {
	padding: 20px 30px;
}

.title {
	text-transform: uppercase;
	color: #FEFCFB;
	margin: 50px 0;
	padding-top: 30px;
	border-top: 10px dashed #1282A2;
}

.project {
	margin-bottom: 40px;
}

.project a {
	display: inline-block;	
	background-color: #667761;
}

.project a:hover {
	opacity: 1;
	background-color: #1282A2;
}

.frame img {
	display: block;
	width: 100%;
}

.folder {
	background-color: #1282A2;
	text-align: left;
	margin: 10px 0;
	border-top: 5px dashed #1282A2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.project-name,
.caption {
	color: #FEFCFB;
	padding: 5px 10px;
	margin: 0;
}

/*SOCIAL LINKS*/
.foot{
	padding: 10px 0;
}

.foot p {
	color: #FEFCFB;
}

.foot ul li {
	display: inline-block;
}

a.social {
	display: inline-block;
    text-indent: -9999px;
    margin: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: 1;
    transition: all .5s;
}
a.resume {
	background-image: url("../images/icons/cv.png");
}

a.linkedin {
	background-image: url("../images/icons/linkedin.svg");
}

a.github {
	background-image: url("../images/icons/github.svg");
}

.foot .email {
	width: 100px;
	background-color: #FFAD17;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
	.intro {
		padding-top: 25vh; 
	}

	.intro .email {
		font-size: 30px;
		width: 320px;
	}

	.profile > a {
		bottom: 30px;
	}

	.gallery {
		padding-bottom: 50px;
	}

	.folder {
		float: left;
		width: 60%;
	}

	.project {
		float: left;
		width: 45%;
		margin: 0 calc(10% / 4) 20px;
	}

	.project a {
		margin: 10px 0;
    	float: right;
	}

	.project a:nth-child(even) {
		margin-top: 0;
	}
}

@media screen and (min-width: 1024px) {
	.folder {
		width: 70%;
	}
}

@media screen and (min-width: 1366px) {
	.intro {
		font-size: 1.5em;
	}

	.profile > a {
		margin-left: -21.25px;
	}

	.profile > a i {
	    font-size: 60px;
	}

	.gallery {
	    max-width: 1366px;
	    margin: 0 auto;
	}

	.project {
		float: left;
		width: 25%;
		margin: 0 calc(25% / 6) 20px;
	}

	.folder {
		width: 60%;
	}

	.btt {
		display: none;
	}
}




/*CLEARFIX HACK*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}